@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500..800&display=swap');
@import url(reset.css);
@import url(FM_part.css);


:root {
    /* colors */
    /* primary*/
    --clr-light-red: hsl(0, 100%, 67%);
    --clr-orange-yellow: hsl(39, 100%, 56%);
    --clr-green-teal: hsl(166, 100%, 37%);
    --clr-cobalt-blue: hsl(234, 85%, 45%);
    /* gradients */
    --clr-light-stale-blue:  hsl(252, 100%, 67%);
    --clr-light-royal-blue: hsl(241, 81%, 54%);
    --clr-violet-blue: hsla(256, 72%, 46%, 1);
    --clr-persian-blue: hsla(241, 72%, 46%, 0);
    /* neutral */
    --clr-white: hsl(0, 0%, 100%);
    --clr-pale-blue: hsl(221, 100%, 96%);
    --clr-light-lavender: hsl(241, 100%, 89%);
    --clr-dark-gray-blue: hsl(224, 30%, 27%);
  
    /* typography */
    /* fonts */
    --ff-primary: 'Hanken Grotesk', sans-serif;
    --fw-500: 500;
    --fw-700: 700;
    --fw-800: 800;
    --fs-18: 1.125rem; /* 18px*/
}


html {
    height: 100%;
}

body {
    min-height: 100%;
}

p {
    line-height: 1.5;
}


body {
    display: flex;
    justify-content: center;
    font-family: var(--ff-primary);
    font-size: var(--fs-18);
    font-weight: var(--fw-500);
    
}

/*---------------------Mobile layout-------------------------*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'main'
        'evaluation'
        'btn-container'
        'attribution';
    gap: 1rem;
    justify-self: center;
    justify-items: center;
    max-width: 24rem;
    /*border: 2px solid green;*/
}

/* style 1st component - mobile */
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'sr-only'
        'main__title'
        'main__result'
        'main__result-description-title'
        'main__result-description';
    gap: .7rem;
    justify-items: center;
    background-color: var(--clr-light-royal-blue);
    border-bottom-left-radius: 1.7rem;
    border-bottom-right-radius: 1.7rem;
}

.sr-only {
    display: none;
}

.main__title {
    min-width: 16rem;
    padding: .3rem;
    text-align: center;
    color: var(--clr-light-lavender);
    text-transform: capitalize;
    font-weight: var(--fw-700);
    /*border: 2px solid green;*/
}

.main__result {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'main__result-total'
        'main__sample';
    justify-self: center;
    align-items: center;
    text-align: center;
    background-color: var(--clr-violet-blue);
    border-radius: 50%;
    width: 6.8rem;
    /*border: 2px solid green;*/
}

.main__result-total {
    font-size: 2.5rem;
    font-weight: var(--fw-800);
    color: var(--clr-white);
    margin: 1.3rem 0 0 0;
    /*border: 2px solid green;*/
}

.main__sample {
    font-size: .9rem;
    color: var(--clr-light-lavender);
    padding: .2rem 0 0 0;
    /*border: 2px solid green;*/
}

.main__result-description-title {
    font-weight: var(--fw-700);
    color: var(--clr-white);
    font-size: 1.3rem;
    margin: .7rem 0 0 0;
    /*border: 2px solid green;*/
}

.main__result-description {
    color: var(--clr-light-lavender);
    max-width: 80%;
    margin: 0 0 1.5rem 0;
    text-align: center;
    /*border: 2px solid green;*/
}
  
/* style 2nd component - mobile */
.evaluation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'evaluation__title'
        'evaluation-container';
    gap: 1rem;
    min-width: 87%;
    /*border: 2px solid green;*/
}

.evaluation__title {
    font-weight: var(--fw-700);
    font-size: 1.3rem;
    justify-self: start;
    align-self: center;
}

.evaluation-container {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-areas:
        'evaluation-container__img evaluation-container__title evaluation-container__value';
    gap: 1rem;
    align-items: center;
    font-weight: var(--fw-700);
    padding: .8rem;
    border-radius: .4rem;
}

.evaluation-container__img {
    justify-self: start;
    width: 1.7rem;
    /*border: 2px solid green;*/
}

.evaluation-container__title {
    width: calc(100vw - 12rem);
    /*border: 2px solid green;*/
}

.evaluation-container__value {
    width: 4rem;
}

.score {
    font-weight: var(--fw-800);
    font-size: 1rem;
}

.from {
    font-weight: var(--fw-800);
    font-size: 1rem;
    color: var(--clr-light-lavender);
}

.reaction-bgCol {
    background-color: hsla(0, 100%, 67%, .1);
}

.memory-bgCol {
    background-color: hsla(39, 100%, 56%, .1);
}

.verbal-bgCol {
    background-color: hsla(166, 100%, 37%, .1);
}

.visual-bgCol {
    background-color: hsla(234, 85%, 45%, .1);
}

.reaction-col {
    color: var(--clr-light-red);
}

.memory-col {
    color: var(--clr-orange-yellow);
}

.verbal-col {
    color: var(--clr-green-teal);
}

.visual-col {
    color: var(--clr-cobalt-blue);
}

/* style 3rd component - mobile */
.btn-container {
    background-color: var(--clr-dark-gray-blue);
    width: calc(100vw - 3rem);
    padding: .8rem;
    text-align: center;
    border-radius: 2rem;
    margin: 1rem 0 0 0;
}

.btn {
    border: none;
    background-color: transparent;
    color: var(--clr-white);
    cursor: pointer;
}

/* style 4th component - mobile */
/* 4th component styled in external stylesheet */

/*---------------------Desktop layout-------------------------*/
@media screen and (min-width: 48rem) {

    * {
        display: none;
    }

/* style 1st component - desktop */  

   
/*style 2nd component - desktop */

  
/*style 3rd component - desktop */

/*style 4th component - desktop */
/* 4th component styled in external stylesheet */


    
}
/*------------------grid area names---------------------------*/

.main {
    grid-area: main;
}

.sr-only {
    grid-area: sr-only;
}

.main__title {
    grid-area: main__title;
}

.main__result {
    grid-area: main__result;
}

.main__result-description-title {
    grid-area: main__result-description-title;
}

.main__result-description {
    grid-area: main__result-description;
}

.main__result-total {
    grid-area: main__result-total;
}

.main__sample {
    grid-area: main__sample;
}

.evaluation {
    grid-area: evaluation;
} 

.evaluation__title {
    grid-area: evaluation__title;
}

.evaluation-container {
    grid-area: evaluation-container;
}

.evaluation-container__img {
    grid-area: evaluation-container__img;
}

.evaluation-container__title {
    grid-area: evaluation-container__title;
}

.evaluation-container__value {
    grid-area: evaluation-container__value;
}

.btn-container {
    grid-area: btn-container;
}

.attribution {
    grid-area: attribution;
}

